body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px; 
    background-color: #87ceeb;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

p {
    font-size: 90px;
   text-align: center;
   margin: 0 auto;
}

button{
    width: 100px;
    height: 35px;
    font-family: 'Montserrat', sans-serif;
}

#letra{
    font-size: 100px;
}